@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom font */
@import url('https://rsms.me/inter/inter.css');

/* Smooth scroll behavior for the entire document */
html {
    scroll-behavior: smooth;
}

/* Set the default font family for the body */
body {
    font-family: 'Inter', sans-serif;
}

/* Styling for anchor links globally */
a {
    position: relative;
    text-decoration: none; /* Remove default underline for links */
}

/* Adding an underline effect on hover with a smooth transition */
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    opacity: 0;
    height: 1px;
    background-color: currentColor; /* Uses the current text color */
    transition: opacity 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* Underline becomes visible on hover */
a:hover::after {
    opacity: 1;
}

/* Utility for links with small underline offset */
.underline-offset-small::after {
    bottom: 6px; /* Adjust the offset for the underline */
}

/* Utility to remove the underline effect */
.no-underline-effect::after {
    content: none; /* Completely removes the underline */
}


.gif-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    margin-top: 50px;
  }
.gif-items {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between items */
}
.gif-item {
    text-align: center; /* Centers text and image */
}
.gif-item img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.git-title-main {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}

.gif-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}




.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between images */
    margin-top: 20px;
}


.tables {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between images */
    margin-top: 20px;
    align-items: flex-start;
}
.tables figure {
    text-align: center; /* Center the caption below each image */
    font-size: 20px;
}
.tables .quant_00 {
    max-width: 100%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}
.tables .quant_01 {
    max-width: 100%; /* Adjust size as needed */
    height: auto;
    align: top;
    object-fit: contain;
}


.image-container img {
    max-width: 50%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}
.image-container .img1 {
    max-width: 59%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}
.image-container .img2 {
    max-width: 41%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}


.image-container .qual_00 {
    max-width: 53%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}
.image-container .qual_01 {
    max-width: 47%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  margin: 5px;
}


.control-gifs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.control-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.control-title-caption {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 70%;
    text-align: center;
}
.control-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 1px;
}
.control-caption {
    width: 100%; /* Adjust the width as needed */
    text-align: center;
    font-weight: normal;
}




.cliport-control-title{
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
.cliport-control-gifs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5%;
}
.cliport-control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cliport-control-caption {
    margin-bottom: 10px;
    font-size: 1em;
}
.cliport-control-gifs img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.att_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.att_img img{
  max-width: 95%;
  height: auto;
  object-fit: contain;
}


/*  */
